<div class="footer">
        <div class="container">
            <div class="pull-right ">
                <p>Contact Us</p>
                <ul class="link-list clearFix">
                    <li ><a href="https://www.facebook.com/gametaptap/"></a></li>
                    <li ><a href=""></a></li>
                    <li ><a href=""></a></li>
                    <li ><a href="https://zhuanlan.zhihu.com/taptap"></a></li>
                    <li ><a href="https://weibo.com/taptapgames"></a></li>
                    <li class="link-log"><a href=""></a></li>
                </ul>
            </div>
            <div class="pull-left">
                <span class="footer-logo"></span>
                <ul class="link-text  clearFix">
                    <li>简体中文</li>
                    <li>开发者中心</li>
                    <li>广告投放</li>
                    <li>关于我们</li>
                </ul>
            </div>
            <div class="pull-center">
                <span>Discover superb games.</span>
            </div>
            <div class="footer-text">
                <span>Copyright © 2017 TapTap. All rights Reserved</span>
                <span>适龄提示：本公司产品适合10周岁以上玩家使用</span>
                <span>未成年人家长监护 隐私权和条款</span>
                <span>沪ICP备16012525号-1 沪网文(2016)2204-116号</span>
                <span>易玩(上海)网络科技有限公司</span>
                <span><img src="../public/imgs/guohui.png" alt="" class="fl"><p>沪公网安备 31010402030255号</p></span>
            </div>
        </div>
    </div>